.card
  width: 12rem
  height: 3rem
  border-radius: 0.25rem
  padding: 0.25rem 0.5rem 0.25rem 0.25rem
  position: relative
  user-select: none
  cursor: pointer

.card
  .title
    color: white
    font-size: 0.875rem
    line-height: 1.25rem
    font-weight: 500
    margin: auto 0