.form
  width: 36rem
  margin: 0 auto

  // .buttons
  //   position: absolute
  //   bottom: 0


button.template
  background: #0496FF
  color: white

.upload::-webkit-file-upload-button
  background: #0496FF
  color: white
  font-size: 0.875rem
  line-height: 1.25rem
  font-weight: 500
  padding: 0 1rem
  border: none
  border-radius: 0.125rem
  cursor: pointer

button.next
  background: #0496FF
  color: white

button.back
  background: #8D8D8D
  color: white