.schedule
  width: calc((100vw * (5/6)) - 4rem)
  height: calc(100vh - 16rem)
  overflow: scroll

.header
  width: max-content
  display: flex
  position: sticky
  top: 0
  z-index: 20
  // margin-left: calc(3rem + 0.5rem + 0.5rem)

.header
  .room
    width: 8rem

.body
  width: max-content
  display: flex

.time
  width: 3rem
  margin: 0 0.5rem
  position: sticky
  left: 0
  z-index: 10
  background: #F4F4F4

.time
  .item
    height: 2rem

    h4
      font-size: 0.625rem
      font-weight: 700


.columns
  display: flex
  
.slot
  width: 8rem
  height: 2rem
  border: 1px solid rgb(229 231 235)

.availability.slot
  width: 12rem
  height: 2rem
  border: 1px solid rgb(229 231 235)
  padding: 0.125rem